$baseFontSize: 16;
@import 'fluid-type';
@import 'typebase';

html {
  @include fluid-type(font-size, 800px, 1200px, 18px, 22px);
  color: #111;
}

article,
div,
header,
footer,
main,
section {
  box-sizing: border-box;
}
