$baseFontSize: 16;
@import 'fluid-type';
@import 'typebase';

html {
  font-family: 'PT Sans', sans-serif;
  @include fluid-type(font-size, 800px, 1200px, 16px, 22px);
}


article,
div,
header,
footer,
main,
section {
  box-sizing: border-box;
}
