$baseFontSize: 16;
@import 'normalize.css/normalize';
@import 'typebase';
@import 'fluid-type';

html {
  @include fluid-type(font-size, 800px, 1200px, 16px, 22px);
}

article,
div,
header,
footer,
main,
section {
  box-sizing: border-box;
}

a {
  color: #111;

  &:hover {
    color: #666;
  }

  &:active {
    color: #777;
  }
}
